.table__products p {
    font-size: 1.5rem;
}
.table__cantidad {
    display: inline-flex;
    align-items: baseline;
}

.table__cantidad button {
    width: 36px;
    height: 36px;
    background-color:#5C1E0B;
}
.table__cantidad p {
    font-size: 1.5rem;
}

.table__price {
    display: flex;
    align-items: baseline;
}
.table__price p {
    margin-right: 10px;
    font-size: 1.5rem;
}
.table__price button {
    font-size: 1.2rem;
    font-weight: 600;
    background: red;
    height: 22px;
    width: 52px;
}

.max-4 .confirmer-order{
    font-size: 1.6rem;
    background-color: #00892F;
    height: 45px;
    cursor: pointer;
    margin-right: 20px;
}

.max-4 .reject-order{
    font-size: 1.6rem;
    background-color: red;
    height: 45px;
    cursor: pointer;
}