.home__containt{
    background-color: rgba(92, 30, 11, 1);
    height: 650px;
    width: 100%;
    display: flex;
    margin: left;
    }
    
    .home__containt img{
        display: flex;
        white-space: nowrap;
    }
    
      button.btn-table  {
        position: relative;
        background-color: rgba(248, 234, 218, 1);
        border-radius: 28px;
        color: rgba(255, 136, 35, 1);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 28px;
        padding: 10px;
        width: auto;
        
    } 
    
    button.btn-chef  {
        position: relative;
        background-color: rgba(248, 234, 218, 1);
        border-radius: 2px solid;
        color: rgba(255, 136, 35, 1);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 28px;
        padding: 10px;
        width: auto;
        cursor: pointer;
        transition: all 0.5ms;
        
    } 
    
    button.btn-chef :hover  {
        color: chartreuse;
        
    } 