.menu-buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.btn-breakfast,
.btn-lunch {
    width: 200px;
    height: 86px;
    /* background:; */
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-right: 30px;
    font-size: 2.0rem;
    background-color: #FF8823;
    color: white;
}

.btn-breakfast:hover,
.btn-lunch:hover {
    background-color: #00892F;
}