* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
  }
  /* body {
      background: #E5E5E5;
  } */

  .products-section { /*PROBANDO GRIDS*/
    margin-top: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: baseline; /*lo justificó todo hacia la izquierda*/
    margin-left: 30px;
  }
  .menu-section { /*PROBANDO GRIDS*/
    grid-column: 1;
    grid-row: 1;
  
  }
  
  .menu-section-breakfast { /*AQUI APARECE EL SCROLL*/
    grid-column: 1;
    height: 480px; /*Prueba**/
    overflow: auto; /*Aparece la barra para subir y bajar*/
    /* grid-template-columns: 320px 320px;
    gap: 15px;
    width: 771px;
    height: auto;
    justify-content: flex-start; */
  }
  .menu-section-breakfast::-webkit-scrollbar { /*ESTILOS PARA SCROLL*/
    width: 12px;
    background:  white;
    border-radius: 0 2rem 2rem 0;
  }
  .menu-section-breakfast::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

  .menu-section-breakfast::-webkit-scrollbar-thumb { /*ESTILOS PARA SCROLL*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#FF8823;
  }

  .menu-buttons-container {
    display: flex;
    margin-bottom: 45px;
  }

  .menu-buttons-container button {
    background-color: rgba(255, 136, 35, 1);
    width: 167px;
    height: 60px;
    margin-right: 30px;
  }

  .menu-buttons-container button:hover {
    background-color: #00892F;
  }
