html {
    font-family: "Montserrat";
    background-color: #F3F4F6; 
  }
section {
    display: flex;
    justify-content: center;
}

.tables-container > *{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.tables-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 40px;
    margin-top: 180px;
}

.table-button {
    width: 250px;
    height: 110px;
    background: #FF8823;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.table__cantidad {
    display: flex;
    align-items: center;
}
.table__cantidad button{
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.table__cantidad .div-count {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 10px;
}

.table__products {
    height: 20px;
}